<div class="jumbotron">
  <h1 class="h3">Add some awesome photos</h1>
<%= bootstrap_form_with(model: @photo, url: [@album, @photo]) do |f| %>
  <%= f.text_field :description, label: "What's happening?" %>
  <%= f.file_field :img_data, label: 'Browse photo' %>
  <%= f.submit %>
<% end %>
</div>
